<div class="container">
  <div class="row d-flex align-items-center">
    <div class="col-sm-4 col-mb-4 col-lg-2 col-xl-2 mob-logo">
      <figure>
        <img src="assets/image/logotipo-fgs.png" alt="Fernanda Guimaraes" title="Fernanda Guimraes">
      </figure>
    </div>
    <div class="col-sm-8 col-mb-8 col-lg-10 col-xl-10 mob-input">
      <form action="">
        <div class="form-row icon">
          <i class="fas fa-search"></i>
          <input 
            class="form-control form-control-sm form-control-mb"
            id=search 
            name="search" 
            (keyup)="pesquisarDrink($event)"
            placeholder="Encontre o melhor drink para sua festa!" 
            type="search">
        </div>
      </form>
    </div>
  </div>
</div>

    


