<div class="container">
  <div class="row d-flex align-items-center">
    <div class="col-sm-2 col-mb-2 col-lg-2 col-xl-2">
      <figure>
        <img src="assets/image/logotipo-fgs.png" alt="logotipo Fernanda Guimaraes" title="logotipo Fernanda Guimraes">
      </figure>
    </div>
    <div class="col-sm-10 col-mb-10 col-lg-10 col-xl-10">
      <input 
        id=search 
        name="search" 
        (keyup)="getDrink($event)"
        placeholder="Encontre o melhor drink para sua festa!" 
        type="search">
    </div>
  </div>
</div>

    


