/* Logo */
figure
    width: 63px
    height: 63px
    margin: 0
@media screen and (max-width: 765px)
    figure
        width: 40px
        height: 40px
    img
        width: 100%

/* Input Search */
#search 
    width: 100%
    border: none
    padding: 5px 12px 5px 45px
    border-radius: 5px
    @media screen and (max-width: 765px)
        #search
            border-radius: 50px

@media screen and (max-width: 765px)
    .mob-logo
        width: 20%
    .mob-input
        width: 80%
@media screen and (max-width: 325px)
    .mob-logo
        width: 20%
    .mob-input
        width: 78%
        


.icon 
    position: relative
    i
        position: absolute
        padding: 11px 12px
        pointer-events: none
        color: #666
    .form-control 
        padding-left: 30px
 
