
<header (valueSearch)='getDrink($event)'></header>

<section>
    <div class="callPage">
        <h1></h1>
    </div>
</section>

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-mb-12 col-lg-12 col-xl-12 box" *ngFor="let item of bebidas">
            <div class="col-sm-4 col-mb-4 col-lg-4 col-xl-4 px-0">
                <figure class="mb-0">
                        <img itemprop="image" title="Este é o drink {{item?.strDrink}}" [src]="item.strDrinkThumb" alt="">
                </figure>
            </div>
            <div class="col-sm-8 col-mb-8 col-lg-8 col-xl-8 px-0">
                <div itemscope itemtype="http://schema.org/Recipe" class=name>
                    <h1 itemprop="name">
                    {{item?.strDrink}}
                    </h1>
                    <div class="itens">
                        <h3>Ingredientes:</h3>
                        <div class="ingredient">
                            <div class="columnOne">
                                <h5 itemprop="ingredient">{{item?.strIngredient1}}</h5> 
                                <h5 itemprop="ingredient">{{item?.strIngredient2}}</h5>            
                                <h5 itemprop="ingredient">{{item?.strIngredient3}}</h5>
                            </div>      
                            <div class="columnTwo">       
                                <h5 itemprop="ingredient">{{item?.strIngredient5}}</h5>
                                <h5 itemprop="ingredient">{{item?.strIngredient5}}</h5>
                                <h5 itemprop="ingredient">{{item?.strIngredient6}}</h5>
                            </div> 
                        </div>
                    </div> 
                    <div class="instruction">
                        <h3>Modo de preparo:</h3>   
                        <h5 itemprop="instruction">{{item?.strInstructions}}</h5>
                    </div>          

                </div>
            </div>
        </div>
    </div>
</div>


        