header 
    background: black
    padding: 16px 0

.box 
    display: flex
    align-items: center
    justify-content: space-between
    border: 1px solid
    padding: 15px 20px
    margin: 15px

figure 
    max-width: 84%
    img
        max-width: 100%

.itens 
    margin: 22px 0;
    
.ingredient 
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    width: 36%;

